.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

// .menu {
//   flex: 0 1 atuo;
// }

// #graph {
//   flex: 1 1 auto;
//   position: relative;
//   overflow: hidden;
// }


.minimap {
  border: solid 1px;
  background-color: rgba($color: #FFF, $alpha: 0.7);
  position: relative;
  // width: 320px;
  // height: 240px;
}

.minimap canvas {
  position: absolute;
}

.graph {
  .container {
    transform-origin: 0px 0px;
    position: relative;
  }

  .node {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: black;
  }
}

